/* Form.css */

form {
  background-color: #ffffff;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

form input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box; /* Ensure consistent sizing */
}

form button {
  background-color: #4b88ca;
  color: #ffffff;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #aab9c9;
}

.password-description {
  font-size: 0.9rem;
  color: #1b1a1a;
  margin-top: 1.5rem;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.password-container {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.password-container input {
  width: 100%;
  padding-right: 60px; /* Add space for the button */
  box-sizing: border-box; /* Ensure consistent sizing */
}

.show-password-button {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(86, 86, 96);
}

.show-password-button:hover {
  text-decoration: underline;
}

/* OTP verify css */

.verify-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}

.verify-form {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.verify-form h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
  text-align: center;
}

.otp-button {
  background-color: #28a745; /* Green color */
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  display: block;
  width: 30%;
  text-align: center;
}

.otp-button:hover {
  background-color: #218838; /* Darker green on hover */
}

.otp-sent {
  background-color: #d4edda; /* Light green color */
  color: #155724; /* Dark green text */
}

.verify-form button[type="submit"] {
  background-color: #007bff;
  color: #ffffff;
  padding: 0.5rem;
  border: none;
  display: block;
  margin: auto;
  border-radius: 4px;
  font-size: medium;
  cursor: pointer;
  width: 30%;
}

.verify-form button[type="submit"]:hover {
  background-color: #0056b3;
}
